@import 'tachyons';

.header--unpinned {
  transform: translateY(-100%);
}

.header--pinned {
  transform: translateY(0);
}

header {
  will-change: transform;
  transition: transform 0.25s ease-in-out;
}
